// Place all the styles related to the http controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.xml-body {
  position: relative;
  background-color: #f1f1f1;
  font-family: sans-serif;
  font-size: 12pt;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
  left: 15%;
}

html h3 {
  text-align: center;
}

.xml-body li {
  list-style: none;
}

html {
  font-family: monospace;
}

.button {
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  background-color: #aa001e;
  &:hover {
    transition: 0.5s;
    background-color: #bb324a;
  }
  &:active {
    padding: 4px;
  }
}
