<h3>Payload data</h3>
<br>
<%= link_to "Clear Database", destroy_them_all_path, method: :delete, class: "button" %>
<h2>All requests should be posted to: <a href='#'><application url>/http_post</a> </h2>
<% @xmls.each do |data| %>
  <hr>
  <div class="xml-body">
    <h5>payload id: <%= data.id %></h5>
    <h6>created at: <%= data.created_at.strftime("%Y %m %d") %></h6>
    <pre><%= Xml.format_data(data.xml_body) %></pre>
  </div>
<% end %>
